.consultas-filas {
    width: 80%;
    height: 8rem;
    margin: 2rem auto auto auto;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-radius: 1rem;
  }

  .consultas-filas h2{
    color: var(--color-primario);
  }

  @media (max-width: 767px) {

  }
  
  @media (min-width: 767px) and (max-width: 1024px) {
  
  }
  
  @media (min-width: 1025px) {
  
  }