:root {
  --color-primario: #60a859;
  --color-secundario: #ff6600;
}

body {
  background-color: #f0f8ff;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

a {
  text-decoration: none;
}

h1 a {
  color: aliceblue;
}

@media (max-width: 767px) {
  /* -------------------------------------------------- */
  /* -------------------------Header------------------------- */
  /* -------------------------------------------------- */

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: var(--color-primario);
  }

  .abrir-menu,
  .cerrar-menu {
    display: block;
    border: 0;
    font-size: 1.25rem;
    background-color: transparent;
    cursor: pointer;
  }

  .abrir-menu {
    color: aliceblue;
  }

  .cerrar-menu {
    color: #1c1c1c;
  }

  .nav {
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: aliceblue;
    padding: 2rem;
    box-shadow: 0 0 0 100vmax rgba(240, 248, 255, 0.5);
  }

  .nav.visible {
    opacity: 1;
    visibility: visible;
  }

  .nav-list {
    gap: 1rem;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .nav-list li a {
    text-decoration: none;
    color: var(--color-primario);
    padding: 0.3rem;
    border-radius: 1rem;
  }

  .nav-list li a:hover {
    color: aliceblue;
    background-color: var(--color-primario);
    transition: 0.4s;
  }

  h1 {
    color: aliceblue;
    font-family: "Damion", cursive;
    font-size: 3rem;
    font-weight: 100;
    margin: 0;
  }
}
/* -------------------------------------------------- */
/* -------------------------------------------------- */
/* -------------------------------------------------- */
/* -------------------------------------------------- */
/* -------------------------------------------------- */
/* -------------------------------------------------- */
/* -------------------------------------------------- */
/* -------------------------------------------------- */
/* -------------------------------------------------- */
@media (min-width: 767px) and (max-width: 1024px) {
  /* -------------------------------------------------- */
  /* -------------------------Header------------------------- */
  /* -------------------------------------------------- */

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-color: var(--color-primario);
  }

  .logo {
    max-width: 5rem;
  }

  .nav-list {
    list-style-type: none;
    display: flex;
    gap: 1rem;
  }

  .nav-list li a {
    text-decoration: none;
    color: aliceblue;
    font-size: 1.5rem;
    padding: 0.3rem;
    border-radius: 1rem;
  }

  .nav-list li a:hover {
    color: var(--color-primario);
    background-color: aliceblue;
    transition: 0.4s;
  }

  .abrir-menu,
  .cerrar-menu {
    display: none;
  }

  h1 {
    color: aliceblue;
    font-family: "Damion", cursive;
    font-size: 5rem;
    font-weight: 100;
    margin: 0;
  }
}
/* -------------------------------------------------- */
/* -------------------------------------------------- */
/* -------------------------------------------------- */
/* -------------------------------------------------- */
/* -------------------------------------------------- */
/* -------------------------------------------------- */
/* -------------------------------------------------- */
/* -------------------------------------------------- */
/* -------------------------------------------------- */
@media (min-width: 1025px) {
  /* -------------------------------------------------- */
  /* -------------------------Header------------------------- */
  /* -------------------------------------------------- */

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-color: var(--color-primario);
  }

  .logo {
    max-width: 5rem;
  }

  .nav-list {
    list-style-type: none;
    display: flex;
    gap: 1rem;
  }

  .nav-list li a {
    text-decoration: none;
    color: aliceblue;
    font-size: 1.5rem;
    padding: 0.3rem;
    border-radius: 1rem;
  }

  .nav-list li a:hover {
    color: var(--color-primario);
    background-color: aliceblue;
    transition: 0.4s;
  }

  .abrir-menu,
  .cerrar-menu {
    display: none;
  }

  h1 {
    color: aliceblue;
    font-family: "Damion", cursive;
    font-size: 5rem;
    font-weight: 100;
    margin: 0;
  }
}

@media (min-width: 1600px) {
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-primario);
  }

  .logo {
    max-width: 5rem;
  }

  .nav-list {
    list-style-type: none;
    display: flex;
    gap: 2rem;
  }

  .nav-list li a {
    text-decoration: none;
    color: aliceblue;
  }

  .abrir-menu,
  .cerrar-menu {
    display: none;
  }

  /* ----- Main ----- */

  .main {
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    margin-top: 10rem;
  }

  .main-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: var(--color-primario) 0.2rem solid;
    border-radius: 1rem;
    padding: 1rem;
    background-color: white;
    color: var(--color-primario);
  }

  .main-cards:hover {
    animation: wobble;
    animation-duration: 1.3s;
  }

  .main-cards i {
    font-size: 10rem;
    color: var(--color-primario);
  }

  /* -------------------------------------------------- */
  /* -------------------------Agregar------------------------- */
  /* -------------------------------------------------- */

  .contenedor-agregar {
    width: 50%;
    margin: auto;
    display: flex;
    gap: 2rem;
    margin: 10rem auto;
    padding: 1rem;
    background-color: white;
    border-radius: 1rem;
  }

  .foto {
    width: 300px;
    height: 400px;
    background-color: transparent;
    border: var(--color-primario) 0.2rem solid;
    border-radius: 1rem;
    color: var(--color-primario);
    font-size: 8rem;
    cursor: pointer;
    transition: 0.4s;
    background-size: cover; /* Cubrir todo el fondo del botón */
    background-position: center; /* Centrar la imagen de fondo del botón */
    background-repeat: no-repeat; /* No repetir la imagen de fondo del botón */
  }

  .foto:hover {
    background-color: var(--color-primario);
    color: aliceblue;
  }

  .foto label {
    cursor: pointer;
  }

  .foto input {
    appearance: none;
    display: none;
    visibility: hidden;
    opacity: 0;
    width: 100%;
    height: 100%;
  }

  .inputs {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .inputs label {
    color: var(--color-primario);
    font-size: 2rem;
  }

  .inputs input {
    border: var(--color-primario) 0.1rem solid;
    border-radius: 1rem;
    margin: 1rem 0;
    height: 2rem;
    outline: none;
  }

  .inputs button {
    color: var(--color-primario);
    background-color: transparent;
    border: var(--color-primario) 0.1rem solid;
    border-radius: 1rem;
    width: 30%;
    margin: auto;
    padding: 0.5rem;
    transition: 0.2s;
    font-weight: 900;
  }

  .inputs button:active {
    color: white;
    background-color: var(--color-primario);
  }

  select{
    margin: 1rem 0;
    padding: 0.5rem 0.2rem;
    font-size: 1rem;
    border-radius: 1rem;
    border: var(--color-primario) 0.1rem solid;
  }

  select:focus{
    border-radius: 1rem 1rem 0 0;
    outline: none;
  }

  .contenedor-agregar-h3{
    color: var(--color-primario);
    font-size: 2rem;
  }

  .contenedor-agregar-talles{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .contenedor-agregar-talles label{
    font-size: 1.5rem;
  }

  .contenedor-agregar-talles input{
    width: 1.5rem;
  }
  
  textarea{
    border-radius: 1rem;
    border: var(--color-primario) 0.1rem solid;
    margin: 1rem 0;
    padding: 0.5rem;
    outline: none;
    font-size: 1rem;
  }

  /* -------------------------------------------------- */
  /* -------------------------Eliminar------------------------- */
  /* -------------------------------------------------- */

  .productos-filas {
    width: 80%;
    height: 8rem;
    margin: 2rem auto auto auto;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-radius: 1rem;
  }

  .productos-filas img {
    height: 90%;
    width: 100px;
    object-fit: cover;
    border-radius: 1rem;
  }

  .productos-filas button {
    background-color: transparent;
    color: var(--color-primario);
    border: none;
    font-size: 2rem;
    cursor: pointer;
    transition: 0.2s;
  }

  .productos-filas button:hover {
    font-size: 2.1rem;
  }

  /* -------------------------------------------------- */
  /* -------------------------Consultas------------------------- */
  /* -------------------------------------------------- */

  
  .consultas-filas {
    width: 80%;
    height: 8rem;
    margin: 2rem auto auto auto;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-radius: 1rem;
  }

  .consultas-filas h2{
    color: var(--color-primario);
  }
}
