@import "./components/agregar/_agregar.scss";
@import "./components/eliminar/_eliminar.scss";
@import "./components/consultas/_consultas.scss";
@import "./components/main/_main.scss";
@import "./components/navbar/_navbar.scss";

:root {
  --color-primario: #60a859;
  --color-secundario: #ff6600;
}

body {
  background-color: #f0f8ff;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

a {
  text-decoration: none;
}

h1 a {
  color: aliceblue;
}
